
body{
    font-size:20px;
    font-family: 'My Soul', cursive;

}

ol {
background: #ff9999;
padding: 20px;
}

ul {
background: #3399ff;
padding: 20px;
}

ol li {
background: #ffe5e5;
color: darkred;
padding: 5px;
margin: 35px;
}


ul li {
background: #cce5ff;
color: darkblue;
margin-left: 5px;
}
/*
table{
border:2px solid gold;
width: 100% ;

}
th{border-bottom:2px solid gold;   height: 50px;text-align: center;padding:30px}
td{border-bottom:2px solid rgb(202, 14, 102);   vertical-align: bottom;padding:15px}*/
table {
border-collapse: collapse;
width: 100%;
}

th, td {
padding: 2px;
text-align: left;
border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: rgb(235, 224, 221);}
div {
background-color: rgba(240, 78, 20, 0.479);
width: 200px;
height: 80px;
border: 1px solid;

overflow-y: scroll;
}
/*img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }*/





